body {
    margin: 0;
    padding: 0;
    background-color: #eeecec;
  }
  
  .image-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust columns as needed */
    gap: 20px; /* Gap between images */
    padding: 20px;
  }
  
  .image-block {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
    border: 1px solid #ddd; /* Border */
  }
  
  .image-block:hover {
    transform: scale(1.1);
    z-index: 1000;
    cursor: pointer;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; /* Transition for image size */
  }
  
  .image-block:hover img {
    transform: scale(1.1);
    transform-origin: center center; /* Enlarge image from center */
    z-index: 1000;
    cursor: pointer;
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .image-block:hover .image-overlay {
    opacity: 1;
    z-index: 1000;
    cursor: pointer;
  }
    
  .view-more {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fdfafa;
    color: #f08383;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000; /* Ensures it's above other content */
  }
  .view-more a{
    text-decoration: none;
  }
  
  .view-more:hover {
    background-color: #fdf4f4;
    cursor: pointer; /* Change cursor on hover */
  }
  

  /* Style for the navigation */
.navigation {
    margin-top: 20px;
    padding: 10px; /* Add padding to the navigation bar */
    text-align: center; /* Center the navigation items */
}

/* Style for the navigation anchor tags */
.navigation a {
    text-decoration: none; /* Remove underline from links */
    color: rgb(5, 120, 173); /* Set text color */
    font-weight: bold; /* Make text bold */
    font-size: 1.5em; /* Set font size */
    padding: 8px 15px; /* Add padding to anchor tags */
    border-radius: 5px; /* Optional: Add rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add box shadow */
    margin: 0 10px; /* Add spacing between navigation items */
}

/* Hover effect for anchor tags */
.navigation a:hover {
    background-color: #c9e9a9; /* Change background color on hover */
    color: #000000; /* Change text color on hover */
}
/* End of NavBar */


footer {
    font-size: 1em;
    margin-top: 12em;
    text-align: center;
}